.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.add {
  display: flex;
  margin-left: auto;
  margin-bottom: 16px;
  border: 1px solid #eee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
